html{
    background-color: #eecbd7;
}

.heading {
    color: #9c0b3e;
    text-align: center;
}

::placeholder { 
    color: #9c0b3e;
  }

.container{
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);

}

.card{
    width: 30rem;
    background-color: #df9fb5;
    border-radius: 5%;
    text-align: left;
    padding: 1rem;
}

.button{
}

@media screen and (min-width: 400px){
    .container{
        grid-template-columns: repeat(1, fr);
    }
}

@media screen and (min-width: 600px){
    .container{
        grid-template-columns: repeat(2, fr);
    }
}

@media screen and (min-width: 900px){
    .container{
        grid-template-columns: repeat(3, fr);
    }
}